@import url("jquery.treeview.css");
@import url("jquery.contextMenu.css");

.nav-tabs > li .close {
    margin: -2px 0 0 10px;
    font-size: 15px;
}

.tab-content {
    overflow: hidden;
}

.context-menu-item {
    padding-top: 6px;
    padding-bottom: 6px;
}
